
@model PagedList.IPagedList<ReviewFood.Models.BaiViet_DanhMuc>
@using PagedList.Mvc
@{
}
<section class="s-content s-content--top-padding">

    <div class="row entries-wrap add-top-padding wide">
        <div class="entries">

            @foreach (var item in Model)
            {
                <article class="col-block">

                    <div class="item-entry" data-aos="zoom-in">
                        <div class="item-entry__thumb">
                            <a href="/BaiViet/Index/@item.MaTinTuc" class="item-entry__thumb-link">
                                <img src="/Assets/Image/@item.HinhAnh"
                                     srcset="/Assets/Image/@item.HinhAnh" alt="">
                            </a>
                        </div>

                        <div class="item-entry__text">
                            <div class="item-entry__cat">
                                <a href="/DanhMuc/Index/@item.MaDanhMuc">@item.DanhMuc</a>
                            </div>

                            <h1 class="item-entry__title">
                                <a href="/BaiViet/Index/@item.MaTinTuc">@item.TieuDe</a>
                            </h1>

                            <div class="item-entry__date">
                                <a href="/BaiViet/Index/@item.MaTinTuc">@item.NgayTao</a>
                            </div>
                        </div>
                    </div> <!-- item-entry -->

                </article> <!-- end article -->
            }

        </div> <!-- end entries -->
    </div> <!-- end entries-wrap -->

    <div class="row pagination-wrap">
        <div class="col-full">
            <nav class="pgn" data-aos="fade-up">
                <ul class="pagination">
                    @if (Model.HasPreviousPage)
                    {
                        <li class="page-item">
                            <a class="page-link" href="@Url.Action("Index", new { page = Model.PageNumber - 1 })">&laquo;</a>
                        </li>
                    }

                    @for (int i = 1; i <= Model.PageCount; i++)
                    {
                        <li class="page-item @(Model.PageNumber == i ? "active" : "")">
                            <a class="page-link" href="@Url.Action("Index", new { page = i })">@i</a>
                        </li>
                    }

                    @if (Model.HasNextPage)
                    {
                        <li class="page-item">
                            <a class="page-link" href="@Url.Action("Index", new { page = Model.PageNumber + 1 })">&raquo;</a>
                        </li>
                    }
                </ul>
            </nav>
        </div>
    </div>

</section>

@section Scripts
{
    <script>var link = $('.pagination > li');
        var link_a = $('.pagination > li > a');
        console.log(link)
        console.log(link_a)
        for (let i = 0; i < link.length; i++) {
            if ($(link[i]).hasClass('PagedList-skipToNext')) $(link_a[i]).addClass("pgn__next")
            else if ($(link[i]).hasClass('PagedList-skipToPrevious')) $(link_a[i]).addClass("pgn__prev")
            else $(link_a[i]).addClass("pgn__num")
        }</script>
}